{% extends 'base.html.twig' %}

{% block title %}Fill Your Vibe{% endblock %}

{% block body %}
<h1>Fill Your Original Vibe</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Save</button>
{{ form_end(form) }}
{% endblock %}
